
div > h3 {
    color: yellow;
}

section > div {
    color: aqua;
}

section > span {
    color: bisque;
}

section div {
    font-weight: bold;
}

h3 + p {
    color: brown;
}

h3 ~ p{
    color: aquamarine;
}
